/** @format */

$base-color: #ccc;
body {
  background: $base-color;
}

header {
  background: url(../bg.jpg);
  height: 300px;
}

main {
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  min-height: 400px;
  padding: 10px;
}

@function convertToEm($size, $from_px) {
  $result: $size / $from_px;
  @return $result + 0em;
}

.profile {
  text-align: center;
  font-size: 16px;
  max-width: 604px;
  margin: auto;
  &__picture {
    font-size: 100%;
    position: relative;
    top: convertToEm(-70, 16);
    width: convertToEm(160, 16);
    height: convertToEm(160, 16);
  }
  h1 {
    font-weight: 500;
    font-size: convertToEm(25.55, 16);
    line-height: convertToEm(30, 25.55);
    color: #3c4858;
  }
  &__profession {
    font-size: convertToEm(14, 25.55);
    line-height: convertToEm(16, 14);
    color: #333333;
  }
}

@mixin css_sprite($sprite_name) {
  width: 30px;
  height: 30px;
  background: url(../images/#{$sprite_name}.png) -10px;
}

.favorite_icon,
.studio_icon,
.work_icon {
  @include css_sprite(css_sprites);
}
.favorite_icon {
  background-position-y: -10px;
}
.studio_icon {
  background-position-y: -60px;
}
.work_icon {
  background-position-y: -110px;
}

.gallery {
  &__tab-nav {
    display: flex;
    justify-content: center;
  }

  &__tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3px;
    align-items: center;
    width: 100px;
    height: 104px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #555555;

    .favorite_icon,
    .studio_icon,
    .work_icon {
      margin: 20px 0 20px 0;
    }
    &:hover {
      background: rgba(200, 200, 200, 0.2);
    }
    &:active,
    &--active {
      background: #9c27b0;
      box-shadow: 0px 4px 20px rgba(156, 39, 176, 0.45);
      color: #fff;

      &:hover {
        background: #9c27b0;
      }

      .favorite_icon,
      .studio_icon,
      .work_icon {
        filter: brightness(5);
      }
    }
  }

  &__photos {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 262px;
      margin-bottom: 15px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin: 0 7.5px;
  }
}

@media only screen and (max-width: 615px) {
  .gallery__column {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .profile {
    font-size: 14px;
  }
}
